aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
asgiref==3.11.0
attrs==25.4.0
backoff==1.11.1
certifi==2025.11.12
charset-normalizer==3.4.4
dj-rest-auth==7.0.1
Django==5.2.9
django-allauth==64.2.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
musicbrainzngs==0.7.1
propcache==0.4.1
python-dotenv==1.2.1
redis==7.1.0
requests==2.32.5
spotipy==2.25.2
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
yarl==1.22.0
